.container{
   /* width:fit-content;
    min-height:auto;
    /* box-sizing: 1px 1px 1px 1px rgb(218, 203, 203); */
    /* box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px rgba(114, 109, 109,0.12);
    gap:30px;
     padding-top: 5px;  */

     min-width: 550px;
     min-height: 450px;
     max-width: 750px;
     display: flex;
     flex-direction: column;
     gap: 30px;
     box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
     padding-top: 5px;
     height: fit-content;
     margin: 0 auto;


   
    
    
}
.container .Button{
   padding:3%;
    padding-top: 0%;
    display: flex;
    flex-direction: row-reverse;

 
}
.container button{
   padding: 1% 1%;
  background-color: rgb(129, 28, 197);
  border-radius: 6%;
  border: 0;
  color: rgb(250, 250, 231);
  font-size: 1rem;
  font-weight:500;
  cursor: pointer;
  width:fit-content;
  display: flex;
  transition: 400ms;
  outline: none;
 
}
.Button:active{
  transform: translateY(1px);
}
.header{
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    border-bottom: 1px solid rgb(0,0,0,.2) ;
    padding: 1%;
    padding-right: 0;
    padding-left: 3%; 
    cursor: pointer; */
    display :flex;
    gap:10px;
    overflow-x:auto;
    border-bottom: 1px solid rgba(104, 96, 96,0.1);
}
.header .sections{
  /* padding:10px;
    border-bottom: 2px solid transparent;
    font-size: 1.1vw;
    font-weight: 400;
    white-space: nowrap; */
    padding: 10px;
   border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
    
}
.header .active{
    /* color: rgb(133, 36, 153);
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    font-weight: 500; */
    border-bottom: 2px solid rgb(97, 23, 97);
    color:#a23f9d
}
.body{
  padding:30px;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding-top: 0;
}

.details{
  display: flex;

  flex-direction: column;
 gap:10px;
 
  
}
/* .details .row{
  display: flex; 
  justify-content: space-between;
  
} */
.details .row{
  display :flex;
  gap:50px;
  width:10px;

}

.details.column{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.details.row > div{
  flex:1.5;
}
.chips{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.chips .new{
  color: rgb(212, 89, 212);
  font-weight: wrap;
  letter-spacing: 1px;
  align-items: center;
}
.chip{
  display: flex;
  gap:2px;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
 
  /*  
 
  padding-bottom: 4px; */
  background-color: #756363;
  border-radius: 20px;
  
}
.chip p{
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 0px;
  font-weight: 500;
  line-height: .5rem;
  color:#fff;
} 
.chip svg{
  color:rgb(255, 255, 255);
  vertical-align:middle;
  height: 18px;
  width: 18px;
  cursor:pointer;

}
.chips .active{
  background-color: #a80aa0;
  color: black;
  
}


@media (max-width: 900px) {
  /* .container{
    width:70vw;
    height:40vw;
  } */

  .header .sections{
    font-size: 17px;
    font-weight: 500;
  } 
}
